/* BUTTON STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn_wrap {
  display: block;
  width: 100%;
  max-width: 40rem;
  margin-bottom: 2rem;
  @media (min-width: 1024px) {
    margin-bottom: 3rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.btn {
  display: block;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 1.5rem 0;
  color: var(--c-white);
  background-image: linear-gradient(to bottom right, var(--c-purple) , var(--c-blue));
  border-radius: 1rem;
  &:hover {
    background-image: linear-gradient(to bottom left, var(--c-purple) , var(--c-blue));
  }
  &.btn_lg {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1.8rem 3.6rem;
    text-transform: uppercase;
    @media (min-width: 1024px) {
      font-size: 3rem;
      padding: 2rem 4rem;
    }
  }
}

.btn_sb {
  display: inline-flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 1rem 0;
  background-color: var(--c-white);
  border: 2px solid var(--c-white-b);
  transition: all 0.3s ease-in-out;
  &:hover {
    color: var(--c-blue);
    background-color: var(--c-off-white);
  }
  &.active {
    color: var(--c-blue);
    background-color: var(--c-off-white);
  }
}

.btn_sb-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btn_sb-right {
  border-left: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.e_link {
  svg {
    color: var(--c-black);
    transition: color 0.3s ease-in-out;
  }
  &:hover {
    svg {
      color: var(--c-blue);
    }
  }
}