/* HEADER & MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.head {
  position: relative;
  height: var(--headHeight);
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #9061f9, #e74694);
  }
  .nav_bar {
    width: 100%;
    height: 100%;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav_logo {
        object-fit: cover;
      }
      .nav_links {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-right: 8rem;
        .nav_link {
          color: var(--c-black);
          font-weight: 600;
          &:hover {
            color: var(--c-blue);
          }
        }
        .acct {
          display: block;
          font-weight: 700;
          line-height: 1;
          text-align: center;
          padding: 1rem 1.5rem;
          margin-left: 1rem;
          color: var(--c-white);
          background-image: linear-gradient(to bottom right, var(--c-purple) , var(--c-blue));
          border-radius: 1rem;
          @media (min-width: 1024px) {
            padding: 1.5rem 2.5rem;
            margin-left: 2rem;
          }
          &:hover {
            background-image: linear-gradient(to bottom left, var(--c-purple) , var(--c-blue));
          }
        }
        .avatar {
          display: flex;
          align-items: center;
          width: 3.6rem;
          height: 3.6rem;
          padding-left: 3rem;
          img {
            border-radius: 99rem;
            object-fit: cover;
          }
        }
      }
      .btn {
        display: block;
        padding: .2rem;
        background-image: linear-gradient(to bottom right, var(--c-purple), var(--c-blue));
        border-radius: 1rem;
        .btn_inner {
          display: block;
          padding: .5rem 1.5rem;
          border-radius: 1rem;
          background-color: var(--c-white);
          transition: color 0.3s ease-in-out, background-image 1s ease-in-out;
        }
        &:hover {
          .btn_inner {
            color: var(--c-white);
            background-image: linear-gradient(to bottom right, var(--c-purple), var(--c-blue));
          }
        }
      }
    }
  }
}